<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Space Spuds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
</head>
<body>
    <div id="root">
        <header>
            <a @click="showMenu"><img src="images/space-spuds-logo.svg" alt="Space Spuds Logo"></a>
            <div>
                <a @click="showCart" v-cloak>{{shoppingCartCounter}}</a>
                <a><img @click="showCart" src="images/cart-of-ecommerce.svg" alt="Shopping Cart"></a>
            </div>
            <!-- credit
            cart-of-ecommerce.svg:
            <div>Icons made by <a href="https://www.flaticon.com/authors/designerz-base" title="Designerz Base">Designerz Base</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            shopping-cart.svg:
            <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            shopping-cart2.svg:
            <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            shopping-cart3.svg:
            <div>Icons made by <a href="https://www.flaticon.com/authors/puppets" title="Puppets">Puppets</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        -->
        </header>
        <main>
            <div v-if="!isCartClicked">
                <h1>MENU</h1>
                <div class="wrapper">
                    <section>
                        <h2>Plutine</h2>
                        <p>$5.99</p>
                        <ul>
                            <li>French Fries</li>
                            <li>Gravy</li>
                            <li>Cheese Curds</li>
                        </ul>
                        <a @click="addToCart">ADD TO CART</a>
                        <img src="images/plutine.jpg" alt="Plutine">
                    </section>
                    <section>
                        <h2>Astrotots</h2>
                        <p>$5.99</p>
                        <ul>
                            <li>Tater Tots</li>
                            <li>Nocho Cheese</li>
                            <li>Bacon</li>
                        </ul>
                        <a @click="addToCart">ADD TO CART</a>
                        <img src="images/astrotots.jpg" alt="Plutine">
                    </section>
                    <section>
                        <h2>Meateor</h2>
                        <p>$5.99</p>
                        <ul>
                            <li>Baked Potato</li>
                            <li>Chili</li>
                            <li>Sour Cream</li>
                        </ul>
                        <a @click="addToCart">ADD TO CART</a>
                        <img src="images/meateor.jpg" alt="Plutine">
                    </section> 
                    <section>
                        <h2>Spudnik</h2>
                        <p>$6.49</p>
                        <ul>
                            <li>Mashed Potatoes</li>
                            <li>Bacon</li>
                            <li>Sour Cream</li>
                            <li>Scallions</li>
                        </ul>
                        <a @click="addToCart">ADD TO CART</a>
                        <img src="images/spudnik.jpg" alt="Plutine">
                    </section>   
                    <section>
                        <h2>Solo Mission</h2>
                        <p></p>
                        <ul>
                            <li>
                                <div >
                                    <h3>Choose Your Planetary Scale</h3>
                                </div>
                                <form @submit.prevent="">
                                    <ul>
                                        <li><input type="radio" name="scale">Moon (8oz) $4.99</li>
                                        <li><input type="radio" name="scale">Earth (10oz) $5.99</li>
                                        <li><input type="radio" name="scale">Sun (12oz) $6.99</li>
                                    </ul>
                                </form>
                            </li>
                            <li>
                                <div class="accordion">
                                    <h3>Choose Your Base</h3>
                                </div>
                                <form class="panel">
                                    <ul>
                                        <li><input type="radio" name="base">French Fries</li>
                                        <li><input type="radio" name="base">Tater Tots</li>
                                        <li><input type="radio" name="base">Baked Potato</li>
                                        <li><input type="radio" name="base">Mashed Potatoes</li>
                                    </ul>
                                </form>
                            </li>
                            <li>
                                <div class="accordion">
                                    <h3>Choose Your Space Debris</h3>
                                    <p>(up to TWO, 50¢ additional)</p>
                                </div>
                                <form class="panel">
                                    <ul>
                                        <li><input type="checkbox" name="debris">Bacon</li>
                                        <li><input type="checkbox" name="debris">Gravy</li>
                                        <li><input type="checkbox" name="debris">Chili</li>
                                        <li><input type="checkbox" name="debris">Nacho Cheese</li>
                                        <li><input type="checkbox" name="debris">Shredded Cheese</li>
                                        <li><input type="checkbox" name="debris">Cheese Curds</li>
                                        <li><input type="checkbox" name="debris">Butter</li>
                                        <li><input type="checkbox" name="debris">Scallions</li>
                                        <li><input type="checkbox" name="debris">Veggie Mix</li>
                                        <li><input type="checkbox" name="debris">Sour Cream</li>
                                    </ul>
                                </form>
                            </li>
                            <li>
                                <div class="accordion">
                                    <h3>Choose Your Cosmic Blast</h3>
                                    <p>(pick ONE, 25¢ additional)</p>
                                </div>
                                <form class="panel">
                                    <ul>
                                        <li><input type="checkbox" name="blast">Mustard</li>
                                        <li><input type="checkbox" name="blast">Hot Sauce</li>
                                        <li><input type="checkbox" name="blast">BBQ Sauce</li>
                                        <li><input type="checkbox" name="blast">Honey Mustard</li>
                                        <li><input type="checkbox" name="blast">Chipotle Mayo</li>
                                    </ul>
                                </form>
                            </li>
                        </ul>
                        <a @click="addToCart">ADD TO CART</a>
                    </section> 
                    <section>
                        <h2>Rocket Fuel</h2>
                        <p>$0.49</p>
                        <form>
                            <ul>
                                <li><input type="radio" name="fuel">Bottled Water</li>
                                <li><input type="radio" name="fuel">Pepsi</li>
                                <li><input type="radio" name="fuel">Diet Pepsi</li>
                                <li><input type="radio" name="fuel">Pepsi Zero Sugar</li>
                                <li><input type="radio" name="fuel">Pepsi Wild Cherry</li>
                                <li><input type="radio" name="fuel">Mountain Due</li>
                                <li><input type="radio" name="fuel">Diet Mountain Due</li>
                                <li><input type="radio" name="fuel">Root Beer</li>
                            </ul>
                        </form>
                        <a @click="addToCart">ADD TO CART</a>
                    </section> 
                </div>     
            </div>
            <div v-else>
                <div class="itemsInCartWrapper">
                    <table>
                        <tr>
                            <!-- <th style="width:20px;"></th> -->
                            <th>Items</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr v-for="meal in mealsInCart">
                            <!-- <td><a>x</a></td> -->
                            <td v-text="meal['Name']"></td>
                            <td><input type="number" value="1" min="0" max="99" disabled></td>
                            <td v-text="meal['Price']"></td>
                        </tr> 
                    </table>
                </div>
                <section>
                    <h2>Total Price</h2>
                    <p>${{totalPrice}}</p>
                    <a>CHECT OUT</a>
                </section>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="scripts.js"></script>
</body>
</html>