/*
    Reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

html {
    /*font-family: 'Mukta Vaani', 'Open Sans', sans-serif;*/
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Istok Web', sans-serif;
    font-feature-settings: "tnum";
    font-size: 16px;
    /* 0.35rem * 4 */
    line-height: 1.4rem;   
}

h1 {
    /* font-size: 1.68rem;
    line-height: 1.15em; */
    font-size: 2.13rem;
    /* 0.35rem * 7 */
    line-height: 2.45rem;
    margin: 0 0.7rem 0.7rem 0.7rem;
}

h2 {
    /* font-size: 1.383rem;
    line-height: 1.2em; */
    font-size: 1.75rem;
    /* 0.35rem * 6 */
    line-height: 2.1rem;
    margin: 0.35rem 0 0.35rem 0;

}

h3 {
    /* font-size: 1.215rem;
    line-height: 1.25em; */
    font-size: 1.12rem;
    /* 0.35rem * 5 */
    line-height: 1.4rem;
    margin: 0.35rem 0 0 0;
}

a {
    text-decoration: none;
}

[v-cloak] {
    display: none;
}

/*
    Header
*/

body > div > header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background: white;
    height: 5.4rem;
    border-bottom: 1px solid lightgray;
}

header > a:first-child > img {
    height: 100%;
    padding: 0.7rem;
}

header > div {
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;
    height: 50%;
}

header > div > a > img {
    height: 100%;
}

header > div > a:first-child {
    position: absolute;
    top: -0.88rem;
    right: 0.05rem;
    border: 1px solid grey;
    width: 1.8rem;
    height: 1.8rem;
    /* padding-top: 0.1rem; */
    line-height: 1.9rem;
    text-align: center;
    border-radius: 0.9rem;
    z-index: -1;
    text-decoration: none;
}

/*
    Menu
*/

main > div {
    /* header height: 5.4rem + h1:margin-top: 1.4rem */
    margin-top: 6.8rem; 
}

.wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px,1fr));    
}

.wrapper > section > p {
    font-size: 1.12rem;
}

section {
    position: relative;
    border: 1px solid lightgrey;
    margin: 0 0.7rem 0.7rem 0.7rem;
    padding: 0.35rem;
}

ul {
    padding-left: 1.4rem;
}

li {
    list-style-position: outside;
}

section > a {
    display: block;
    border: 1px solid grey;
    margin: 0.7rem 1.4rem;
    padding: 0.7rem;
    text-align: center;
    background: #E9B73F;
    color: #1A2E34;
}

section > a:active {
    background: rgb(231, 196, 113);
    color: rgb(38, 61, 68);
}

section h2 {
    display: inline-block;
}

section p {
    display: inline-block;
}

section img {
    position: absolute;
    top: 0.35rem;
    right: 0.35rem;
    width: 28%;
}

#root > header > div:nth-child(4) > a:nth-child(3) {
    position: absolute;
    width: 100px;
    text-decoration: none;
    font-size: 0.2rem;
    right: -60px;
    top: -35px;
    color: lightgray;
}

.accordion {
    transition: 0.4s;
}

.panel { 
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

form > ul {
    padding: 0;
}

form > ul > li {
    list-style-type: none;
}

form input {
    margin-right: 0.35rem;
}

.wrapper > section:nth-child(5) > ul {
    /* credit */
    /* <div>Icons made by <a href="https://www.flaticon.com/authors/hanan" title="Hanan">Hanan</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
    list-style-image: url(images/add.svg);
}

form > ul {
    list-style-image: none;
}

.wrapper > section:last-child li {
    text-indent: 0.35rem;
}

/*
    Cart
*/

.itemsInCartWrapper {
    margin: 0.7rem;
}

.itemsInCartWrapper + section {
    border: 1px solid lightgrey;
    margin-top: 2.45rem;
} 

.itemsInCartWrapper + section > p, .itemsInCartWrapper + section > h2 {
    display: block;
    text-align: center;
    font-size: 1.75rem;
    line-height: 2.1rem;
    margin: 1.4rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* margin-right won't work */
    /* margin: 0.7rem; */
}

th {
    font-size: 1.12rem;
    line-height: 2.45rem;
}

tr {
    border-bottom: 1px solid lightgrey;
    text-align: left;
    line-height: 2.45rem;
    text-indent: 0.7rem;
}

td input {
    font-size: 1rem;
    font-family: 'Istok Web', sans-serif;
    font-feature-settings: "tnum";
    border: 1px solid lightsteelblue;
    text-indent: 2px;
    width: 70px;
}

footer {
    margin: 0 0.7rem 0.7rem 0.7rem;
    font-size: 13px;
    text-align: right;
}